html {
    background-color: white;
}

body {  
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.mainheader {
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
   
}

