html {
    background-color: white;
    background-image: 
}

body {  
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.mainheader {
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border: solid;
}

.par {
    border: solid;
}

.footer {
    border: solid;
}